$footer-accent: #ffffff;
$white-text-color: #ffffff;
$footer-background-color: #191c26;
$footer-text-color: rgba(157, 164, 189, 0.4);
$button: #ff6c00;
$contacts: #9da4bd;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
