<footer class="footer">
  <div class="container page-footer">
    <div class="footer-form">
      <p class="title" id="#subscribe">Онлайн-запись</p>
      <form class="form">
        <div class="form-field">
          <input
            type="text"
            class="form-input"
            name="name"
            placeholder="имя*"
          />
          <label class="form-label" for="name"></label>
        </div>

        <div class="form-field">
          <input
            type="tel"
            class="form-input"
            name="telephone"
            placeholder="телефон*"
          />
          <label class="form-label" for="telephone"></label>
        </div>

        <div class="textarea-field">
          <textarea
            class="form-textarea"
            name="message"
            placeholder="сообщение*"
          ></textarea>
          <label class="textarea-label" for="message"></label>
        </div>

        <div class="footer-button">
          <button class="form-button" type="submit">отправить</button>
        </div>
      </form>
    </div>
    <div class="container footer-contacts">
      <p class="title">Контакты</p>
      <div class="contact-items">
        <address>
          <ul class="contact-list">
            <li class="footer-link">
              <svg width="24" height="24">
                <use href="../src/images/sprite.svg#icon-map-pin"></use>
              </svg>
              <a class="item" href="">ул. Васильковая, 7А, Киев, 08132</a>
            </li>
            <li class="footer-link">
              <svg width="24" height="24">
                <use href="../src/images/sprite.svg#icon-phone"></use>
              </svg>
              <a class="item" href="callto:+38 044 111 11 11"
                >+38 044 111 11 11</a
              >
            </li>
            <li class="footer-link">
              <svg width="24" height="24">
                <use href="../src/images/sprite.svg#icon-mail"></use>
              </svg>
              <a class="item email" href="mailto:barbershop@email.com"
                >barbershop@email.com</a
              >
            </li>
          </ul>
        </address>

        <ul class="business-hours">
          <p class="time">
            Время работы
          </p>
          <li class="time-item">Ежедневно с 9:00 до 22:00</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p class="copy-text">&#169; Copyright 2020</p>
    <ul class="list-social">
      <li class="social-item">
        <svg class="social-img" width="60" height="1">
          <use href="./images/sprite.svg#line2"></use>
        </svg>
        <a class="social-link" href="">Instagram</a>
      </li>

      <li class="social-item">
        <a class="social-link" href="">Youtube</a>
      </li>
    </ul>
  </div>
</footer>
