<div class="slider">
  <div class="sim-slider">
    <ul class="sim-slider-list">
      <li class="sim-slider-element">
        <img src="/images/header/1-mobile.jpg" alt="1" />
      </li>
      <li class="sim-slider-element">
        <img src="/images/header/2-mobile.jpg" alt="2" />
      </li>
      <li class="sim-slider-element">
        <img src="/images/header/3-mobile.jpg" alt="3" />
      </li>
    </ul>
    <div class="sim-slider-arrow-left"></div>
    <div class="sim-slider-arrow-right"></div>
    <div class="sim-slider-dots"></div>
  </div>
</div>
