// Form
.footer-form {
  background: $footer-background-color;

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    padding-left: 31px;
    padding-right: 31px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    padding-left: 39px;
  }

  @media screen and (min-width: $desktop) {
    width: 655px;
    padding-left: 55px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 40px;
  @include font(600, 42px, 1.16, 0.05em);
  color: $white-text-color;
  font-family: Raleway, sans-serif;

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    text-align: center;
    padding-top: 84px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    padding-top: 100px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 130px;
  }
}

.form {
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    display: inline-flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form-field {
  @media screen and (min-width: $tablet) {
    &:nth-child(1) {
      margin-right: 30px;
    }
  }
}

.form-input {
  padding-bottom: 9px;
  margin-bottom: 44px;
  background-color: transparent;
  color: $footer-text-color;
  border: transparent;
  border-bottom: 1px solid $footer-text-color;
  cursor: pointer;
  transition: all 250ms $cubic;

  &::placeholder {
    display: flex;
    text-transform: uppercase;
    @include font(600, 11px, 1.3, 0.1em);
    color: $footer-text-color;
  }

  &:hover,
  &:focus {
    border-bottom: 1px solid $footer-accent;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: $footer-accent;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    width: 330px;
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
  }
}

.form-textarea {
  padding-bottom: 60px;
  margin-bottom: 44px;
  height: 76px;
  background-color: transparent;
  color: $footer-text-color;
  border: transparent;
  border-bottom: 1px solid $footer-text-color;
  overflow: hidden;
  resize: none;
  cursor: pointer;

  transition: all 250ms $cubic;

  &::placeholder {
    display: flex;
    text-transform: uppercase;
    @include font(600, 11px, 1.3, 0.1em);
    color: $footer-text-color;
  }

  &:hover,
  &:focus {
    border-bottom: 1px solid $footer-accent;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: $footer-accent;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    width: 690px;
  }

  @media screen and (min-width: $desktop) {
    width: 560px;
  }
}

.button {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $tablet) and (max-width: 1179px) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: $mobile) and (max-width: 767px) {
    padding-bottom: 84px;
  }
}

.form-button {
  @include centeredFlex;
  min-height: 40px;
  min-width: 160px;
  background: transparent;
  border-radius: 25px;
  border: 1px solid $button;
  @include font(600, 12px, 1.3, 0.09em);
  color: $white-text-color;
  text-transform: uppercase;
  cursor: pointer;
}
